<%# please see _text_field partial for available locals %>
<%
  options_target = defined?(html_options) ? html_options : options # in some helper methods the class must be added to `options`, in others to `html_options`
  options_target.merge!(class: class_names(options_target[:class], invalid: errors.any?))
%>
<div class="form-group">
  <%= f._label method, options.delete(:label) -%>
  <%= yield -%>
  <% if errors.any? -%>
    <p class="form-errors"><%= errors.to_sentence %></p>
  <% end %>
  <% if options[:hint].present? %>
    <p class="form-hint"><%= options[:hint] %></p>
  <% end %>
</div>
